.output-item {
	&.colorblock {
		border: 1px solid;
		padding: 10px;

		&.helpcommand {
			color: #ff8c00;
			cursor: pointer;

			.command {
				display: inline-block;
				color: #ffd49f;
			}

			.seperator {
				padding: 0 10px;
			}

			@media only screen and (max-width: 768px) {
				font-size: 12px;
			}
		}
	}
}