// top-level wrapper for console output
.ConsoleOutput {
	height: 100%;
	padding: 10px;
	padding-bottom: 50px;
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;

	.output-item {
		display: table;
		margin-bottom: 20px;

		&:first-child {
			margin-bottom: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	a.output-item {
		&:hover {
			color: white !important;
		}
	}
}